section:nth-child(2n) {
  background-color: aliceblue;
}

section:nth-child(2n+1) {
  background-color: gray;
}

/* Flexbox */
main {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 0.5rem; 
  justify-content: space-between;
  align-items: stretch;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}


section {
  flex-basis: 100%; 
  flex-grow: 1;
}

#datosgenerales {
  flex-basis: 100%;
}


#habilidadespersonales, #conocimientos{
  flex-basis: calc(50% - 0.5rem);
}

#trabajosanteriores, #habilidadesprogramacion, #proyectosanteriores{
  flex-basis: calc(33.3% - 0.5rem);
}

#idiomas, #medioscontacto{
  flex-basis: calc(50% - 0.5rem);
}