main section:nth-child(2n) {
  background-color: turquoise;
}

main section:nth-child(2n+1) {
  background-color: lightpink;
}

/* Grid: AREAS */
main {
  display: grid;
  grid-template-areas: 
    "A A A A A A"
    "B B B C C C"
    "D D E E F F"
    "G G G H H H";
  gap: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

#datosgenerales {
  grid-area: A;
}

#habilidadespersonales {
  grid-area: B;
}

#conocimientos {
  grid-area: C; 
}

#trabajosanteriores {
  grid-area: D; 
}

#habilidadesprogramacion {
  grid-area: E;
}

#proyectosanteriores {
  grid-area: F;
}

#idiomas {
  grid-area: G;
}

#medioscontacto {
  grid-area: H;
}

